<div>
  <app-breadcrumb-nav-bar
    [title]="'NAVIGATION.EMPLOYEES' | translate"
    [buttonType]="ButtonType.ADD"
    (onButtonClick)="addNewEmployee()">
  </app-breadcrumb-nav-bar>
  <div class="employees-list-content">
    <div class="instructors-section">
      <h2>{{ 'CLIENTS.INSTRUCTORS' | translate }}</h2>
      <ul>
        <li *ngFor="let instructor of instructors">
          <div class="instructor-item">
            <a [routerLink]="['/admin/mobile/instructors', instructor._id, 'details']">{{ instructor.firstName }} {{ instructor.lastName }}</a>
            <span *ngIf="instructor.employeeId" class="instructor-id">{{ instructor.employeeId }}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="employees-section">
      <h2>{{ 'CLIENTS.EMPLOYEES' | translate }}</h2>
      <ul>
        <li *ngFor="let employee of employees">
          <a [routerLink]="['/admin/mobile/employees', employee._id, 'details']">{{ employee.firstName }} {{ employee.lastName }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
