<div class="flex-row breadcrumb-container">
    <div
      class="icon-container flex-row"
      [class.icon-container--no-back]="!showBack"
      (click)="navigateBack()">
      <img *ngIf="showBack" src="./assets/images/icons/chevron-left.svg" alt="" />
      <h2 *ngIf="title">
        {{ title | translate }}
      </h2>
    </div>
    <div *ngIf="buttonType !== 'none'" class="flex-row">
      <button 
        mat-icon-button 
        (click)="emitButtonClick()" class="add-edit-button">
        <mat-icon matPrefix>{{ buttonType === ButtonType.ADD ? 'add' : 'edit'}}</mat-icon>
      </button>
    </div>
  </div>
