@import '../../../../../../assets/colors.scss';

.general-info {
  border-bottom: 1px solid $light-blue;
  text-align: center;
}

.classes-section {
  align-items: center;
  justify-content: space-between;
}

.client-details-content {
  width: 80vw;
  margin: auto auto;
}

.add-client-button { 
  background-color: $light-pink !important;
  width: fit-content !important;
  border-radius: 5px;
  margin-left: 15px;
  height: 24px;
  width: 24px !important;
  color: $primary-pink;
  font-weight: 900 !important; 
  border: 1px solid $primary-pink;
}

.add-icon {
  left: -9px;
  top: -9px;
}

.partial-badge {
  color: $light-green;
  font-size: 0.75em;
  margin-left: 2px;
}

h2, h3, h4, h5 {
  margin: 5px 0;
}

.enrollment-modal p, .enrollment-modal h5 {
  text-align: center;
}

form {
  width: inherit;
  border: none;
  min-height: fit-content;
  padding: 0;
}

li {
  color: $light-pink;
  margin-left: 30px;
}

h3 {
  margin: 10px 0;
  margin-left: 0;
}

h4 {
  margin: 0;
  color: $light-green;
}

ul {
  padding-left: 0;
  list-style-type: circle;
}

.not-enrolled {
  color: $light-pink;
  margin-left: 10px;
}

.billing-frequency {
  position: relative;
  top: 10px;
}

.details-row {
  justify-content: space-between;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.unenroll-button {
  color: $primary-pink;
  padding: 0;
  width: 24px;
  height: 24px;
  
  .icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
  }
}

.payment-history-link {
  display: flex;
  align-items: center;
}

.unenroll-modal p, .unenroll-modal h5 {
  text-align: center;
}

.unenroll-reason-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid $light-blue;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  resize: vertical;
  min-height: 80px;
  color: $primary-pink;
  background-color: white;
  box-sizing: border-box;
  display: block;

  &::placeholder {
    color: $light-pink;
  }
}

.unenrolled-section {
  opacity: 0.6;
  margin-top: 20px;
}

.unenrolled-header {
  color: $light-pink;
  font-style: italic;
}

.terminated-section {
  opacity: 0.6;
  margin-top: 20px;
}

.terminated-header {
  color: $light-pink;
  font-style: italic;
}

.delete-user-section {
  margin-top: 24px;
  padding-top: 16px;
  border-top: 1px solid $light-blue;

  .buttons {
    margin-top: 15px;
    justify-content: center;
  }
}