<div>
  <app-breadcrumb-nav-bar 
    [title]="'CLIENTS.DETAILS'" 
    [buttonType]="canEditClient ? ButtonType.EDIT : ButtonType.NONE"
    (onButtonClick)="editClient()">
  </app-breadcrumb-nav-bar>
  <div *ngIf="client" class="flex-column general-info">
    <h3 class="mid-pink">{{ client.firstName + ' ' + client.lastName }}</h3>
    <h4 *ngIf="client.phoneNumber" class="light-blue">{{ client.phoneNumber }}</h4>
  </div>

  <div class="flex-column client-details-content">
    <div class="flex-row classes-section">
      <h2 class="light-blue">{{ 'CLIENTS.ENROLLMENT' | translate }}</h2>
      <button 
        mat-icon-button 
        (click)="setShowEnrollmentModal()" class="add-client-button">
        <mat-icon class="add-icon" matPrefix>{{ 'add'}}</mat-icon>
      </button>
    </div>

    <div *ngFor="let classEnrollment of classesGrouped | keyvalue">
      <h3 class="mid-green">{{ 'CLASS_TYPES.' + classEnrollment.key | translate | capitalize }}</h3>
      <hr />
      <div *ngFor="let locationGroup of classEnrollment.value | keyvalue">
        <h4>{{ locationGroup.key }}</h4>
        <ul>
          <li *ngFor="let classAndEnrollment of locationGroup.value">
            <div class="flex-row details-row">
              <a [routerLink]="['./', classAndEnrollment?.class?._id, 'details']">
                <ng-container *ngIf="classAndEnrollment.enrollment.daysOfWeekOverride as override; else defaultDays">
                  <ng-container *ngIf="override.length > 0; else defaultDays">
                    {{ override | weekdays:'/' }}
                  </ng-container>
                </ng-container>
                <ng-template #defaultDays>
                  {{ classAndEnrollment.class.days | weekdays:'/' }}
                </ng-template>
                - {{ classAndEnrollment.class.startTime | timeFormat }}
              </a>
              <a
              [routerLink]="['../payments', classAndEnrollment?.enrollment?._id]"
                class="payment-history-link">
                <mat-icon class="icon">receipt_long</mat-icon>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="!classesGrouped?.size">
      <p class="not-enrolled">{{ 'ENROLLMENTS.NOT_ENROLLED' | translate }}</p>
    </div>
  </div>
</div>

<app-modal *ngIf="showEnrollmentModal"
  [parent]="this"
  [title]="'CLIENTS.ENROLL' | translate"
  [buttonList]="enrollmentButtons"
  (modalClick)="processEnrollmentModalClick($event)"
  class="enrollment-modal">
  <div content> 
    <p>{{ 'CLIENTS.ENROLL_INSTRUCTIONS' | translate }}</p>
    <h5>{{ client?.firstName }} {{ client?.lastName }}</h5>

    <form [formGroup]="classSelectionForm">
      <app-dropdown *ngIf="classTypeOptions.length" 
        label="CONTROLS.CLASS_TYPE" 
        [options]="classTypeOptions" 
        [i18nPrefix]="'CLASS_TYPES'"
        controlName="class_type">
      </app-dropdown>
      <app-dropdown 
        label="CONTROLS.LOCATION" 
        [options]="classLocationOptions" 
        controlName="location"
        [disabled]="!selectedType">
      </app-dropdown>
      <app-dropdown
        label="CONTROLS.TIME" 
        [options]="classTimesOptions" 
        controlName="time"
        [disabled]="!selectedType || !selectedLocation">
      </app-dropdown>
      <app-datepicker
        label="CONTROLS.START_DATE"
        controlName="start_date">
      </app-datepicker>

      <mat-expansion-panel [disabled]="!selectedClassId" (opened)="onAdvancedOptionsOpened()">
        <mat-expansion-panel-header>
          {{ 'ENROLLMENTS.ADVANCED_OPTIONS' | translate }}
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <app-multi-select-chips
            *ngIf="advancedOptionsClassInfo && advancedOptionsClassInfo.days.length > 1"
            label="CONTROLS.DAYS_OVERRIDE"
            [options]="weekdays"
            [disabledChipsIndices]="disabledDaysChips"
            i18nPrefix="WEEKDAYS_SHORT"
            controlName="days_override">
          </app-multi-select-chips>
          <app-dropdown
            label="CONTROLS.BILLING_FREQUENCY_OVERRIDE"
            [options]="billingFrequencyOptions"
            controlName="billing_frequency_override"
            [i18nPrefix]="'BILLING_FREQUENCY'"
            [hasNoSelectOption]="true"
            class="billing-frequency">
          </app-dropdown>
        </ng-template>
      </mat-expansion-panel>
    </form>
  </div>
</app-modal>