@import '../../../../../../assets/colors.scss';

.general-info-row {
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $light-blue;
}

.general-info-spacer {
  flex: 1;
}

.general-info {
  flex: 0 0 auto;
  text-align: center;
  border-bottom: none;

  h3 {
    margin-bottom: 0;
  }

  h4.light-blue,
  h4.primary-pink {
    margin-top: 10px;
  }
}

.primary-pink {
  color: $primary-pink;
}

.payment-button-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-button {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: $light-green !important;
  border-radius: 5px;
  height: 24px;
  width: 24px !important;
  color: $primary-green;
  border: 1px solid $primary-green;
  padding: 0 !important;

  .payment-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.classes-section {
  align-items: center;
  justify-content: space-between;
}

.add-assign-button {
  background-color: $light-pink !important;
  width: fit-content !important;
  border-radius: 5px;
  margin-left: 15px;
  height: 24px;
  width: 24px !important;
  color: $primary-pink;
  font-weight: 900 !important;
  border: 1px solid $primary-pink;
}

.add-icon {
  left: -9px;
  top: -9px;
}

.assignment-modal p,
.assignment-modal h5 {
  text-align: center;
}

.unenroll-modal p,
.unenroll-modal h5 {
  text-align: center;
}

.employee-details-content {
  width: 80vw;
  margin: auto auto;
}

h2, h3, h4, h5 {
  margin: 5px 0;
}

li {
  color: $light-pink;
  margin-left: 30px;
}

h3 {
  margin: 10px 0 0 0;
  margin-left: 0;
}

h4 {
  margin: 0;
  color: $light-green;

  &.light-blue {
    margin-top: 10px;
  }
}

ul {
  padding-left: 0;
  list-style-type: circle;
}

.not-teaching {
  color: $light-pink;
  margin-left: 10px;
}

.details-row {
  justify-content: space-between;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.unenroll-button {
  color: $primary-pink;
  padding: 0;
  width: 24px;
  height: 24px;

  .icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
  }
}

.past-section {
  opacity: 0.85;
  margin-top: 20px;
}

.past-header {
  color: $light-pink;
  font-style: italic;
}

.terminated-section {
  opacity: 0.6;
  margin-top: 20px;
}

.terminated-header {
  color: $light-pink;
  font-style: italic;
}
