<div [formGroup]="calendarOptionsForm" class="desktop-home">
  <div class="calendar-filters">
    <app-dropdown
      label="CLASSES.FILTER_BY_LOCATION"
      [options]="calendarLocationOptions"
      [formatOption]="FormatOptions.TRANSLATE"
      [showValidation]="false"
      controlName="calendarView">
    </app-dropdown>

    <app-dropdown
      label="CLASSES.FILTER_BY_TYPE"
      [options]="calendarClassTypeOptions"
      [formatOption]="FormatOptions.TRANSLATE"
      [showValidation]="false"
      controlName="classType">
    </app-dropdown>
  </div>

  <app-desktop-class-calendar
    [location]="selectedLocation"
    [classType]="selectedClassType">
  </app-desktop-class-calendar>
</div>
