<div>
  <app-breadcrumb-nav-bar 
    [title]="'INSTRUCTORS.DETAILS'" 
    [buttonType]="canEditInstructor ? ButtonType.EDIT : ButtonType.NONE"
    (onButtonClick)="editInstructor()">
  </app-breadcrumb-nav-bar>
  <div *ngIf="instructor" class="general-info-row flex-row">
    <div class="payment-button-wrapper">
      <a *ngIf="canViewPaymentDetails" mat-icon-button [routerLink]="['../payments']" class="payment-button">
        <mat-icon class="payment-icon">attach_money</mat-icon>
      </a>
    </div>
    <div class="general-info flex-column">
      <h3 class="mid-pink">{{ instructor.firstName + ' ' + instructor.lastName }}</h3>
      <h4 *ngIf="instructor.instructorId" class="primary-pink">({{ instructor.instructorId }})</h4>
      <h4 *ngIf="instructor.phoneNumber" class="light-blue">{{ instructor.phoneNumber }}</h4>
    </div>
    <div class="general-info-spacer"></div>
  </div>

  <div class="flex-column instructor-details-content">
    <div class="flex-row classes-section">
      <h2 class="light-blue">{{ 'INSTRUCTORS.TEACHING' | translate }}</h2>
      <button 
        *ngIf="userService.isAdmin"
        mat-icon-button 
        (click)="setShowAssignmentModal()" class="add-instructor-button">
        <mat-icon class="add-icon" matPrefix>{{ 'add'}}</mat-icon>
      </button>
    </div>

    <!-- Active Assignments -->
    <div *ngFor="let assignmentGroup of assignmentsGrouped | keyvalue">
      <h3 class="mid-green">{{ 'CLASS_TYPES.' + assignmentGroup.key | translate | capitalize }}</h3>
      <hr />
      <div *ngFor="let locationGroup of assignmentGroup.value | keyvalue">
        <h4>{{ locationGroup.key }}</h4>
        <ul>
          <li *ngFor="let classAndAssignment of locationGroup.value">
            <div class="flex-row details-row">
              <a [routerLink]="['/admin/mobile/classes', classAndAssignment?.class?._id, 'details']">
                {{ classAndAssignment.class.days | weekdays:'/' }} - {{ classAndAssignment.class.startTime | timeFormat }}
              </a>
              <div class="action-buttons">
                <button
                  *ngIf="userService.isAdmin && (!classAndAssignment.assignment.status || classAndAssignment.assignment.status === AssignmentStatus.ACTIVE) && !classAndAssignment.assignment.endDate"
                  mat-icon-button
                  class="unenroll-button"
                  type="button"
                  (click)="setShowUnassignModal(classAndAssignment)">
                  <mat-icon class="icon">person_remove</mat-icon>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="activeAssignmentInfo.length === 0">
      <p class="not-teaching">{{ 'INSTRUCTORS.NOT_TEACHING' | translate }}</p>
    </div>

    <!-- Notes Section -->
    <app-notes
      [resourceType]="'instructor'"
      [resourceId]="instructorId || ''"
      [notes]="instructor?.notes"
      (notesUpdated)="onNotesUpdated($event)">
    </app-notes>

    <!-- Terminated Assignments -->
    <div *ngIf="terminatedAssignmentInfo.length > 0" class="terminated-section">
      <h3 class="terminated-header">{{ 'CLASSES.TERMINATED_CLASSES' | translate }}</h3>
      <hr />
      <div *ngFor="let assignmentGroup of terminatedAssignmentsGrouped | keyvalue">
        <h3 class="mid-green">{{ 'CLASS_TYPES.' + assignmentGroup.key | translate | capitalize }}</h3>
        <div *ngFor="let locationGroup of assignmentGroup.value | keyvalue">
          <h4>{{ locationGroup.key }}</h4>
          <ul>
            <li *ngFor="let classAndAssignment of locationGroup.value">
              <div class="flex-row details-row">
                <a [routerLink]="['/admin/mobile/classes', classAndAssignment?.class?._id, 'details']">
                  {{ classAndAssignment.class.days | weekdays:'/' }} - {{ classAndAssignment.class.startTime | timeFormat }}
                </a>
                <div class="action-buttons">
                  <button
                    *ngIf="userService.isAdmin && (!classAndAssignment.assignment.status || classAndAssignment.assignment.status === AssignmentStatus.ACTIVE) && !classAndAssignment.assignment.endDate"
                    mat-icon-button
                    class="unenroll-button"
                    type="button"
                    (click)="setShowUnassignModal(classAndAssignment)">
                    <mat-icon class="icon">person_remove</mat-icon>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal *ngIf="showAssignmentModal"
  [parent]="this"
  [title]="'INSTRUCTORS.ASSIGN_INSTRUCTOR' | translate"
  [buttonList]="assignmentButtons"
  (modalClick)="processAssignmentModalClick($event)"
  class="assignment-modal">
  <div content> 
    <p>{{ 'INSTRUCTORS.ASSIGN_INSTRUCTIONS' | translate }}</p>
    <h5>{{ instructor?.firstName }} {{ instructor?.lastName }}</h5>

    <div [formGroup]="classSelectionForm">
      <app-dropdown *ngIf="classTypeOptions.length" 
        label="CONTROLS.CLASS_TYPE" 
        [options]="classTypeOptions" 
        [i18nPrefix]="'CLASS_TYPES'"
        controlName="class_type">
      </app-dropdown>
      <app-dropdown 
        label="CONTROLS.LOCATION" 
        [options]="classLocationOptions" 
        controlName="location"
        [disabled]="!selectedType">
      </app-dropdown>
      <app-dropdown
        label="CONTROLS.TIME" 
        [options]="classTimesOptions" 
        controlName="time"
        [disabled]="!selectedType || !selectedLocation">
      </app-dropdown>
      <app-datepicker
        label="CONTROLS.START_DATE"
        controlName="start_date"
        [allowedWeekdays]="selectedClassDays">
      </app-datepicker>
    </div>
  </div>
</app-modal>

<app-modal *ngIf="showUnassignModal"
  [parent]="this"
  [title]="'INSTRUCTORS.UNASSIGN' | translate"
  [buttonList]="unassignButtons"
  (modalClick)="processUnassignModalClick($event)"
  class="unenroll-modal">
  <div content>
    <p>{{ 'INSTRUCTORS.UNASSIGN_CONFIRM_MESSAGE' | translate }}</p>
    <div *ngIf="selectedAssignmentForUnassign">
      <h5>
        {{ 'CLASS_TYPES.' + selectedAssignmentForUnassign.class.classType | translate | capitalize }} -
        {{ selectedAssignmentForUnassign.class.classLocation }}
      </h5>
      <h5>
        {{ selectedAssignmentForUnassign.class.days | weekdays:'/' }}
        - {{ selectedAssignmentForUnassign.class.startTime | timeFormat }}
      </h5>
    </div>
    <div [formGroup]="unassignForm">
      <app-datepicker
        label="CONTROLS.END_DATE"
        controlName="end_date"
        [allowedWeekdays]="selectedAssignmentForUnassign?.class?.days ?? null"
        [minDate]="unassignMinDate">
      </app-datepicker>
    </div>
  </div>
</app-modal>
