<div class="flex-column class-list-wrapper">
  <app-breadcrumb-nav-bar
    *ngIf="showBreadcrumb"
    [title]="'NAVIGATION.CLASSES'"
    [buttonType]="buttonType"
    [showBack]="!panelView"
    (onButtonClick)="addNewClass()">
  </app-breadcrumb-nav-bar>

  <form [formGroup]="filterForm" class="filters-container">
    <app-dropdown
      label="CLASSES.FILTER_BY_TYPE"
      [options]="classTypeOptions"
      [formatOption]="FormatOptions.TRANSLATE"
      [showValidation]="false"
      controlName="classType">
    </app-dropdown>

    <app-dropdown
      label="CLASSES.FILTER_BY_LOCATION"
      [options]="locationOptions"
      [formatOption]="FormatOptions.TRANSLATE"
      [showValidation]="false"
      controlName="location">
    </app-dropdown>

    <div *ngIf="panelView && canAddClass" class="add-class-row">
      <button
        mat-icon-button
        type="button"
        (click)="addNewClass()"
        class="add-class-button">
        <mat-icon class="add-icon" matPrefix>add</mat-icon>
      </button>
    </div>
  </form>

  <div class="flex-column class-container">
    <div *ngFor="let typeGroup of classesGrouped | keyvalue">
      <h3>{{ 'CLASS_TYPES.' + typeGroup.key | translate | capitalize }}</h3>
      <hr />
      <div *ngFor="let locationGroup of typeGroup.value | keyvalue">
        <h4>{{ locationGroup.key }}</h4>
        <ul>
          <li *ngFor="let class of locationGroup.value">
            <a
              *ngIf="!panelView"
              [routerLink]="[class._id, 'details']"
              class="flex-row">
              {{ class.days | weekdays:'/' }} - {{ class.startTime | timeFormat }}
              <div class="arrow-right"></div>
            </a>
            <a
              *ngIf="panelView"
              [routerLink]="'/admin/classes/' + class._id + '/details'"
              class="flex-row class-list-link"
              [class.selected]="isClassSelected(class._id)">
              {{ class.days | weekdays:'/' }} - {{ class.startTime | timeFormat }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="terminatedClasses.length > 0" class="terminated-section">
      <h3 class="terminated-header">{{ 'CLASSES.TERMINATED_CLASSES' | translate }}</h3>
      <hr />
      <div *ngFor="let typeGroup of terminatedClassesGrouped | keyvalue">
        <h3>{{ 'CLASS_TYPES.' + typeGroup.key | translate | capitalize }}</h3>
        <div *ngFor="let locationGroup of typeGroup.value | keyvalue">
          <h4>{{ locationGroup.key }}</h4>
          <ul>
            <li *ngFor="let class of locationGroup.value">
              <a
                *ngIf="!panelView"
                [routerLink]="[class._id, 'details']"
                class="flex-row">
                {{ class.days | weekdays:'/' }} - {{ class.startTime | timeFormat }}
                <div class="arrow-right"></div>
              </a>
              <a
                *ngIf="panelView"
                [routerLink]="'/admin/classes/' + class._id + '/details'"
                class="flex-row class-list-link"
                [class.selected]="isClassSelected(class._id)">
                {{ class.days | weekdays:'/' }} - {{ class.startTime | timeFormat }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
