<div>
  <app-breadcrumb-nav-bar [title]="(editBreadcrumbTitle) | translate"></app-breadcrumb-nav-bar>
  <div class="edit-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
      <div class="staff-id-display" *ngIf="staffId !== null">
        <span class="staff-id-label">{{ 'EMPLOYEES.STAFF_ID' | translate }}:</span>
        <span class="staff-id-value">{{ staffId }}</span>
      </div>

      <app-text-input
        [type]="TextInputType.TEXT"
        label="CONTROLS.FIRSTNAME"
        controlName="firstName">
      </app-text-input>

      <app-text-input
        [type]="TextInputType.TEXT"
        label="CONTROLS.LASTNAME"
        controlName="lastName">
      </app-text-input>

      <app-text-input
        [type]="TextInputType.PHONE"
        label="CONTROLS.PHONENUMBER"
        controlName="phoneNumber">
      </app-text-input>

      <app-dropdown
        label="EMPLOYEES.ROLE"
        [options]="roleOptions"
        [i18nPrefix]="'EMPLOYEES'"
        controlName="role">
      </app-dropdown>

      <app-text-input
        [type]="TextInputType.PASSWORD"
        label="CONTROLS.PASSWORD"
        controlName="password"
        [placeholder]="'CONTROLS.PASSWORD_PLACEHOLDER'"
        [minLength]="6">
      </app-text-input>
      <app-text-input
        [type]="TextInputType.PASSWORD"
        label="CONTROLS.CONFIRM_PASSWORD_TITLE"
        controlName="confirmPassword"
        [placeholder]="'CONTROLS.PASSWORD_PLACEHOLDER'"
        [minLength]="6">
      </app-text-input>

      <app-submit-button
        [loading]="loading"
        [label]="'CLIENTS.UPDATE' | translate"
        [loadingMessage]="'CONTROLS.SUBMIT_WAIT_MESSAGE'">
      </app-submit-button>
    </form>
  </div>
</div>
