<div class="employees-list-wrapper">
  <app-breadcrumb-nav-bar
    *ngIf="showBreadcrumb"
    [title]="'NAVIGATION.EMPLOYEES' | translate"
    [buttonType]="canAddEmployee ? ButtonType.ADD : ButtonType.NONE"
    (onButtonClick)="addNewEmployee()">
  </app-breadcrumb-nav-bar>

  <div *ngIf="panelView && canAddEmployee && listMode === 'default'" class="add-employee-row">
    <span *ngIf="hasNoEmployees" class="add-employee-hint">{{ 'EMPLOYEES.CLICK_TO_ADD_EMPLOYEES' | translate }}</span>
    <button
      mat-icon-button
      type="button"
      (click)="addNewEmployee()"
      class="add-employee-button">
      <mat-icon class="add-icon" matPrefix>add</mat-icon>
    </button>
  </div>

  <div class="employees-list-content">
    <div class="instructors-section">
      <h2>{{ 'CLIENTS.INSTRUCTORS' | translate }}</h2>
      <ul>
        <li *ngFor="let instructor of instructors">
          <div class="instructor-item">
            <a
              [routerLink]="getEmployeeDetailsLink(instructor._id)"
              class="employee-list-link"
              [class.selected]="isEmployeeSelected(instructor._id)">
              {{ instructor.firstName }} {{ instructor.lastName }}
            </a>
            <span *ngIf="instructor.employeeId" class="instructor-id">{{ instructor.employeeId }}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="managers-section">
      <h2>{{ 'EMPLOYEES.MANAGERS' | translate }}</h2>
      <ul>
        <li *ngFor="let manager of managers">
          <div class="manager-item">
            <a
              [routerLink]="getEmployeeDetailsLink(manager._id)"
              class="employee-list-link"
              [class.selected]="isEmployeeSelected(manager._id)">
              {{ manager.firstName }} {{ manager.lastName }}
            </a>
            <span *ngIf="manager.employeeId" class="manager-id">{{ manager.employeeId }}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="receptionists-section">
      <h2>{{ 'EMPLOYEES.RECEPTIONISTS' | translate }}</h2>
      <ul>
        <li *ngFor="let receptionist of receptionists">
          <div class="receptionist-item">
            <a
              [routerLink]="getEmployeeDetailsLink(receptionist._id)"
              class="employee-list-link"
              [class.selected]="isEmployeeSelected(receptionist._id)">
              {{ receptionist.firstName }} {{ receptionist.lastName }}
            </a>
            <span *ngIf="receptionist.employeeId" class="receptionist-id">{{ receptionist.employeeId }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
