<div>
  <app-breadcrumb-nav-bar
    [title]="'NAVIGATION.EMPLOYEES' | translate"
    [buttonType]="canAddEmployee ? ButtonType.ADD : ButtonType.NONE"
    (onButtonClick)="addNewEmployee()">
  </app-breadcrumb-nav-bar>
  <div class="employees-list-content">
    <div class="instructors-section">
      <h2>{{ 'CLIENTS.INSTRUCTORS' | translate }}</h2>
      <ul>
        <li *ngFor="let instructor of instructors">
          <div class="instructor-item">
            <a [routerLink]="['/admin/mobile/employees', instructor._id, 'details']">{{ instructor.firstName }} {{ instructor.lastName }}</a>
            <span *ngIf="instructor.employeeId" class="instructor-id">{{ instructor.employeeId }}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="managers-section">
      <h2>{{ 'EMPLOYEES.MANAGERS' | translate }}</h2>
      <ul>
        <li *ngFor="let manager of managers">
          <div class="manager-item">
            <a [routerLink]="['/admin/mobile/employees', manager._id, 'details']">{{ manager.firstName }} {{ manager.lastName }}</a>
            <span *ngIf="manager.employeeId" class="manager-id">{{ manager.employeeId }}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="receptionists-section">
      <h2>{{ 'EMPLOYEES.RECEPTIONISTS' | translate }}</h2>
      <ul>
        <li *ngFor="let receptionist of receptionists">
          <div class="receptionist-item">
            <a [routerLink]="['/admin/mobile/employees', receptionist._id, 'details']">{{ receptionist.firstName }} {{ receptionist.lastName }}</a>
            <span *ngIf="receptionist.employeeId" class="receptionist-id">{{ receptionist.employeeId }}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="employees-section">
      <h2>{{ 'CLIENTS.EMPLOYEES' | translate }}</h2>
      <ul>
        <li *ngFor="let employee of employees">
          <a [routerLink]="['/admin/mobile/employees', employee._id, 'details']">{{ employee.firstName }} {{ employee.lastName }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
