@import '../../../../../../assets/colors.scss';

h3, h4, h5, h6 {
  margin: 5px 0; 
  padding-right: 20px;
}

.payment-details {
  justify-content: start;
  align-items: center;
  margin-left: 5vw;
  width: 95vw;
}

.period {
  position: relative;
  top: 14px;
}

.period > div {
  justify-content: space-between;
}

.container {
  align-items: center;
  width: 100vw;
}

.header {
  width: 100vw;
  align-items: center;
}

.payment-status, .payment-status h3 {
  width: 100vw;
  height: 50px;
  text-align: center;
}

.first-column {
  width: 50vw;
}

.second-column {
  width: 45vw;
  text-align: right;
}

.price-value {
  text-align: right;
}

.discount-row {
  padding-left: 0;
}

.discount-name {
  text-transform: capitalize;
  padding-left: 20px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 15px 5vw;
  width: 90vw;
}

