<div>
  <app-breadcrumb-nav-bar 
  [title]="'NAVIGATION.CLIENTS' | translate" 
  [buttonType]="ButtonType.ADD"
  (onButtonClick)="addNewClient()"></app-breadcrumb-nav-bar>
  <div class="client-list-content">
    <div class="clients-section">
      <h2>{{ 'CLIENTS.ACTIVE_CLIENTS' | translate }}</h2>
      <ul>
        <li *ngFor="let user of activeClients">
          <a [routerLink]="['./', user._id, 'details']">{{ user.firstName }} {{ user.lastName }}</a>
        </li>
      </ul>
    </div>
    <div class="clients-section">
      <h2>{{ 'CLIENTS.INACTIVE_CLIENTS' | translate }}</h2>
      <ul>
        <li *ngFor="let user of inactiveClients">
          <a [routerLink]="['./', user._id, 'details']">{{ user.firstName }} {{ user.lastName }}</a>
        </li>
      </ul>
    </div>
    <div *ngIf="isAdmin" class="instructors-section">
      <h2>{{ 'CLIENTS.INSTRUCTORS' | translate }}</h2>
      <ul>
        <li *ngFor="let instructor of instructors">
          <div class="instructor-item">
            <a [routerLink]="['./', instructor._id, 'details']">{{ instructor.firstName }} {{ instructor.lastName }}</a>
            <span *ngIf="instructor.instructorId" class="instructor-id">{{ instructor.instructorId }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
