@import '../../../../../../assets/colors.scss';

h3, h4, h5, h6 {
  margin: 5px 0;
  padding-right: 20px;
}

.payment-details {
  justify-content: start;
  align-items: center;
  margin-left: 5vw;
  width: 95vw;
}

.period-label {
  align-self: flex-start;
}

.period > div {
  justify-content: space-between;
}

.period-row-label {
  margin: 0;
  padding: 0;
  width: auto;
  min-width: 0;
}

.container {
  align-items: center;
  width: 100vw;
}

.header {
  width: 100vw;
  align-items: center;
}

.payment-status, .payment-status h3 {
  width: 100vw;
  height: 50px;
  text-align: center;
}

.first-column {
  width: 50vw;
}

.second-column {
  width: 45vw;
  text-align: left;
}

.price-value {
  text-align: right;
}

.line-item-row {
  margin-bottom: 8px;
}

.line-item-desc {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.line-item-class {
  margin: 0 0 2px 0;
  font-size: 13px;
  line-height: 1.35;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-word;
}

.line-item-sessions {
  margin: 0;
  font-size: 13px;
  line-height: 1.35;
  color: #666;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 15px 5vw;
  width: 90vw;
}
