<main class="website-header-main">
  <app-top-header></app-top-header>
  <div class="website-header-middle">
    <div class="website-content-width">
      <div class="flex-row middle-row">
        <div class="v-center">
          <img src="./assets/images/icons/phone.svg" class="small-icon" />
          <h2 class="phone">{{ 'HEADER.PHONE' | translate }}</h2>
        </div>
        <div class="logo">
          <img src="./assets/images/logos/aqua-fit-logo-w-name.png" />
        </div>
        <div class="v-center">
          <button class="primary-button">{{ 'HEADER.ENROLL' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="website-header-nav-bar">
    <div class="website-content-width">

    </div>
  </div>
</main>