@import 'assets/colors.scss';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background: $background-blue;
  background: linear-gradient(180deg, $background-blue 0%, $background-blue-gradient-light 100%);
}

:host > .flex-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0;
  max-width: 100%;

  router-outlet + * {
    flex: 1;
    min-height: 0;
    display: flex;
  }
}
