<div>
  <div class="auth-container mat-elevation-z8">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ 'LOGIN.TITLE' | translate }}</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-field-container">
            <app-text-input
              [type]="TextInputType.EMAIL"
              label="CONTROLS.EMAIL"
              controlName="email"
              [placeholder]="'CONTROLS.EMAIL_PLACEHOLDER'">
            </app-text-input>

            <app-text-input
              [type]="TextInputType.PASSWORD"
              label="CONTROLS.PASSWORD"
              controlName="password"
              [minLength]="6"
              [placeholder]="'CONTROLS.PASSWORD_PLACEHOLDER'">
            </app-text-input>

            <app-submit-button
              [loading]="loading"
              [label]="'LOGIN.SUBMIT'"
              [loadingMessage]="'LOGIN.SUBMIT_WAIT_MESSAGE'">
            </app-submit-button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
