@import '../../../../assets/colors.scss';

.overlay {
  position: absolute;
  top: 0;
  left: 0; 
  width: 100vw;
  height: 100vh; 
  background-color: rgba(128, 128, 128, 0.75);
  z-index: 900;
}

.modal-header {
  justify-content: space-between;
  border-bottom: 1px $primary-blue solid;
  color: $background-blue;
}

.modal-container {
  background-color: $light-blue;
  border: 2px solid $primary-pink;
  margin: auto auto; 
  width: fit-content; 
  height: fit-content;
  position: absolute; 
  top: 0;
  bottom: 0; 
  left: 0; 
  right: 0;
  max-width: 75vw;
  min-height: fit-content;
  max-height: fit-content;
  padding: 15px;
  border-radius: 10px;

  h3 {
    margin: 4px;
    flex: 1; 
    white-space: nowrap;
    text-align: center;
  }

  .close-button-border {
    border: 1px solid $primary-pink;
    border-radius: 5px;
    max-height: fit-content;
    overflow: hidden;
    height: 22px;
    width: 22px;
  }

  .close-button {
    flex: 0 0 auto; 
    padding: 4px 4px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0px;
    border-radius: 5px;
    background-color: $light-pink;

    .close-button-icon {
      mask-image: url('../../../../assets/images/icons/close.svg');
      background-color: $primary-pink;
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      height: 30px;
      width: 30px;
      margin-left: -3px;
      margin-top: -2px;
    }
  }

  .button-container {
    margin-top: 20px;
    justify-content: space-around;
  }

  .button {
    margin-left: 5px;
  }
}



