<div class="overlay">
  <div class="modal-container" > 
    <div class="modal-header flex-row">
      <h3 *ngIf="title">{{ title }}</h3>
      <div class="close-button-border">
        <button (click)="processButtonClick('close-button')" class="close-button">
          <div class="close-button-icon"></div>
        </button>
      </div>
    </div>

    <div class="content">
      <ng-content [select]="[content]"></ng-content>
    </div>

    <div class="button-container flex-row">
      <ng-container *ngFor="let button of buttonList">
        <app-button 
        class="button"
        [label]="button.text | translate"
        (click)="processButtonClick(button.text)"></app-button>
      </ng-container>
    </div>
  </div>
</div>