<div class="flex-column invoice-details-container">
  <app-breadcrumb-nav-bar
    [title]="'PAYMENTS.INVOICE_DETAILS'"
    [buttonType]="ButtonType.NONE"
    [showBack]="true">
  </app-breadcrumb-nav-bar>

  <div class="container" *ngIf="invoiceDetails">
    <div class="header flex-column" [class.general-info]="panelView">
      <ng-container *ngIf="panelView; else mobileInvoiceHeader">
        <h3 class="mid-green">{{ invoiceDetails.clientName }}</h3>
        <h3 class="light-blue">{{ 'CLASS_TYPES.' + invoiceDetails.classDetails.classType | translate }}</h3>
        <h3 class="mid-pink">{{ invoiceDetails.classDetails.classLocation }} - {{ invoiceDetails.classDetails.days! | weekdays:'/' }}</h3>
      </ng-container>
      <ng-template #mobileInvoiceHeader>
        <h3 class="mid-pink">{{ invoiceDetails.clientName }}</h3>
        <h4 class="light-green">{{ 'CLASS_TYPES.' + invoiceDetails.classDetails.classType | translate | capitalize }}</h4>
        <h4 class="light-blue">{{ invoiceDetails.classDetails.classLocation }} - {{ invoiceDetails.classDetails.days! | weekdays }}</h4>
      </ng-template>
    </div>
    <hr *ngIf="!panelView">

    <div class="flex-column">
      <div [ngClass]="getStatusClass(invoiceDetails.paymentStatus!)" class="payment-status flex-row">
        <h3>{{ getPaymentStatusTranslationKey(invoiceDetails.paymentStatus) | translate }}</h3>
      </div>

      <div class="period-section white">
        <h4 class="period-section-label">{{ 'PAYMENTS.PERIOD' | translate }}:</h4>
        <div class="period-labels-column">
          <h5 class="period-detail-label">{{ 'PAYMENTS.START' | translate }}</h5>
          <h5 class="period-detail-label">{{ 'PAYMENTS.END' | translate }}</h5>
          <h5 class="period-detail-label light-green" *ngIf="invoiceDetails.bonusSessionsApplied && invoiceDetails.bonusSessionsApplied > 0">
            {{ 'PAYMENTS.BONUS_SESSIONS_APPLIED' | translate }}:
          </h5>
          <h5 class="period-detail-label light-green" *ngIf="invoiceDetails.bonusSessionsApplied && invoiceDetails.bonusSessionsApplied > 0 && invoiceDetails.originalEndDate">
            {{ 'PAYMENTS.NEW_END' | translate }}:
          </h5>
        </div>
        <div class="period-values-column">
          <h5 class="period-detail-value">{{ invoiceDetails.period.startDate | translateDate:'shortDate' }}</h5>
          <h5 class="period-detail-value">{{ (invoiceDetails.originalEndDate || invoiceDetails.period.endDate) | translateDate:'shortDate' }}</h5>
          <h5 class="period-detail-value light-green" *ngIf="invoiceDetails.bonusSessionsApplied && invoiceDetails.bonusSessionsApplied > 0">
            {{ invoiceDetails.bonusSessionsApplied }}
          </h5>
          <h5 class="period-detail-value light-green" *ngIf="invoiceDetails.bonusSessionsApplied && invoiceDetails.bonusSessionsApplied > 0 && invoiceDetails.originalEndDate">
            {{ invoiceDetails.period.endDate | translateDate:'shortDate' }}
          </h5>
        </div>
      </div>

      <hr />

      <div class="flex-row payment-details white" *ngIf="invoiceDetails.originalPrice">
        <h4 class="first-column">{{ 'PAYMENTS.ORIGINAL_PRICE' | translate }}:</h4>
        <h4 class="second-column price-value">{{ invoiceDetails.originalPrice.amount }} {{ invoiceDetails.originalPrice.currency }}</h4>
      </div>

      <div *ngIf="invoiceDetails.discountsApplied && invoiceDetails.discountsApplied.length > 0">
        <div class="flex-row payment-details white">
          <h4 class="first-column">{{ 'PAYMENTS.DISCOUNTS' | translate }}:</h4>
          <div class="second-column"></div>
        </div>
        <div *ngFor="let discount of invoiceDetails.discountsApplied" class="flex-row payment-details white discount-row">
          <div class="first-column discount-name">
            <h5 class="discount-description">{{ getTranslatedDiscountDescription(discount.description) }}</h5>
          </div>
          <h4 class="second-column price-value">-{{ getDiscountAmount(discount) }} {{ getDiscountCurrency(discount) }}</h4>
        </div>
      </div>

      <hr />

      <div class="flex-row payment-details white">
        <h4 class="first-column">{{ 'PAYMENTS.AMOUNT_DUE' | translate }}:</h4>
        <h4 class="second-column price-value">{{ invoiceDetails.amountDue }} {{ invoiceDetails.charge.currency }}</h4>
      </div>
    </div>

    <div *ngIf="invoiceDetails.paymentsApplied?.length" class="payments-applied-section">
      <hr />
      <h4 class="payments-applied-title">{{ 'PAYMENTS.PAYMENTS_APPLIED' | translate }}</h4>
      <div class="payments-applied-list">
        <div
          *ngFor="let payment of invoiceDetails.paymentsApplied"
          class="payment-applied-row">
          <div class="payment-date-column white">
            <h5>{{ payment.date | translateDate:'shortDate' }}</h5>
          </div>
          <div class="payment-labels-column white">
            <h5 class="payment-detail-label">{{ 'PAYMENTS.AMOUNT' | translate }}:</h5>
            <h5 class="payment-detail-label">{{ 'PAYMENTS.TYPE' | translate }}:</h5>
            <h5 class="payment-detail-label" *ngIf="getPaymentChangeDue(payment)">{{ 'PAYMENTS.CHANGE_DUE' | translate }}:</h5>
          </div>
          <div class="payment-values-column white">
            <h5 class="payment-detail-value">{{ getPaymentTenderedAmount(payment) }} {{ payment.charge.currency }}</h5>
            <h5 class="payment-detail-value">{{ getPaymentTypeLabel(payment.paymentType) }}</h5>
            <h5 class="payment-detail-value" *ngIf="getPaymentChangeDue(payment) as change">{{ change }} {{ payment.charge.currency }}</h5>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div *ngIf="remainingBalance < invoiceDetails.amountDue" class="flex-row payment-details white">
      <h4 class="first-column">{{ 'PAYMENTS.REMAINING_BALANCE' | translate }}:</h4>
      <h4 class="second-column price-value">{{ remainingBalance }} {{ invoiceDetails.charge.currency }}</h4>
    </div>

    <div class="flex-row payment-details white">
      <h4 class="first-column">{{ 'PAYMENTS.DUE_BY' | translate }}:</h4>
      <h4 class="second-column price-value">{{ invoiceDetails.period.endDate | translateDate:'shortDate' }}</h4>
    </div>

    <div class="apply-payment-row">
      <app-button
        [label]="'PAYMENTS.APPLY_PAYMENT'"
        [disabled]="!canApplyPayment"
        (onClick)="applyPayment()">
      </app-button>
    </div>
  </div>
</div>

<app-modal
  *ngIf="showApplyPaymentModal && invoiceDetails"
  [parent]="this"
  [title]="'PAYMENTS.APPLY_PAYMENT' | translate"
  [buttonList]="paymentModalButtons"
  (modalClick)="processApplyPaymentModalClick($event)"
  class="apply-payment-modal">
  <div content>
    <p class="remaining-balance primary-pink">
      {{ 'PAYMENTS.REMAINING_BALANCE' | translate }}:
      {{ remainingBalance }} {{ invoiceDetails.charge.currency }}
    </p>

    <form [formGroup]="paymentForm" class="payment-form-fields">
      <app-dropdown
        label="PAYMENTS.PAYMENT_TYPE"
        [options]="paymentTypeOptions"
        controlName="paymentType"
        i18nPrefix="PAYMENT_TYPE">
      </app-dropdown>

      <app-text-input
        label="CONTROLS.AMOUNT"
        controlName="amount"
        [type]="TextInputType.NUMBER">
      </app-text-input>
    </form>

    <p *ngIf="changeDue > 0" class="change-due primary-pink">
      {{ 'PAYMENTS.CHANGE_DUE' | translate }}: {{ changeDue }} {{ currency }}
    </p>
  </div>
</app-modal>