@import '../../../../../assets/colors.scss';

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  padding: 1rem;
}

.prices-container {
  display: flex;
  gap: 1rem;
}

.prices-container div {
  width: 38vw;
}

