<div>
  <app-breadcrumb-nav-bar [title]="(isEditMode ? 'CLIENTS.EDIT_CLIENT' : 'CLIENTS.ADD_NEW_CLIENT') | translate"></app-breadcrumb-nav-bar>
  <div class="edit-container">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form-container">
      <app-text-input
        [type]="TextInputType.TEXT"
        label="CONTROLS.FIRSTNAME"
        controlName="firstName">
      </app-text-input>
      
      <app-text-input
        [type]="TextInputType.TEXT"
        label="CONTROLS.LASTNAME"
        controlName="lastName">
      </app-text-input>

      <app-text-input
        [type]="TextInputType.PHONE"
        label="CONTROLS.PHONENUMBER"
        controlName="phoneNumber">
      </app-text-input>

      <app-submit-button
        [loading]="loading"
        [label]="(isEditMode ? 'CLIENTS.UPDATE' : 'CONTROLS.SUBMIT') | translate"
        [loadingMessage]="'CONTROLS.SUBMIT_WAIT_MESSAGE'">
      </app-submit-button>
    </form>
  </div>
</div>