@import '../../../../../assets/colors.scss';

.selection {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.buttons {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons button {
  width: 20px;
}

.label {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
}

button {
  background-color: white;
}

button.selected {
  background-color: $primary-blue;
  color: white !important;
}
