<div>
  <app-breadcrumb-nav-bar [title]="'CLIENTS.PAYMENT_HISTORY'" [buttonType]="ButtonType.NONE"></app-breadcrumb-nav-bar>

  <div *ngIf="invoiceHistory">
    <div class="header flex-column">
      <h3 class="mid-pink">{{ invoiceHistory.clientName }}</h3>
      <h4 class="light-green">{{ 'CLASS_TYPES.' + invoiceHistory.classDetails.classType | translate | capitalize }}</h4>
      <h4 class="light-blue">{{ invoiceHistory.classDetails.classLocation }} - {{ invoiceHistory.classDetails.days! | weekdays }}</h4>
    </div>
    <hr>
    <div>
      <ul>
        <a *ngFor="let invoice of invoiceHistory.invoices; let i = index"
          [routerLink]="[invoice._id]" class="flex-row">
          <div 
            [ngClass]="[
              getIconClass(invoice.paymentStatus), 
              'icon',
              (invoice.paymentStatus === PaymentStatus.OVERDUE && i !== 0) ? 'flash-icon' : ''
            ]"></div>
          <li [ngClass]="getStatusClass(invoice.paymentStatus)">
                [{{ invoice.period.endDate | translateDate:'shortDate' }}] {{ invoice.charge.amount }} {{ invoice.charge.currency }} - {{ invoice.paymentStatus | capitalize }} 
          </li>
          <div class="arrow-right"></div>
        </a>
      </ul>
    </div>
  </div>
</div>