<div class="flex-column">
  <app-breadcrumb-nav-bar 
  [title]="'NAVIGATION.CLASSES'" 
  [buttonType]="buttonType"
  (onButtonClick)="addNewClass()"></app-breadcrumb-nav-bar>
  <div>
  <div class="flex-column class-container">
    <!-- Active Classes -->
    <div *ngFor="let typeGroup of classesGrouped | keyvalue">
      <h3>{{ 'CLASS_TYPES.' + typeGroup.key | translate | capitalize }}</h3>
      <hr />
      <div *ngFor="let locationGroup of typeGroup.value | keyvalue">
        <h4>{{ locationGroup.key }}</h4>
        <ul>
          <li *ngFor="let class of locationGroup.value">
            <a [routerLink]="['./', class._id, 'details']" class="flex-row">
              {{ class.days | weekdays:'/' }} - {{ class.startTime | timeFormat }}
              <div class="arrow-right"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Terminated Classes -->
    <div *ngIf="terminatedClasses.length > 0" class="terminated-section">
      <h3 class="terminated-header">{{ 'CLASSES.TERMINATED_CLASSES' | translate }}</h3>
      <hr />
      <div *ngFor="let typeGroup of terminatedClassesGrouped | keyvalue">
        <h3>{{ 'CLASS_TYPES.' + typeGroup.key | translate | capitalize }}</h3>
        <div *ngFor="let locationGroup of typeGroup.value | keyvalue">
          <h4>{{ locationGroup.key }}</h4>
          <ul>
            <li *ngFor="let class of locationGroup.value">
              <a [routerLink]="['./', class._id, 'details']" class="flex-row">
                {{ class.days | weekdays:'/' }} - {{ class.startTime | timeFormat }}
                <div class="arrow-right"></div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>