@import 'assets/colors.scss';

:host {
  display: flex;
  flex: 1;
  min-height: 0;
}

.admin-desktop-layout {
  display: flex;
  flex: 1;
  width: 100%;
  min-height: 0;
  align-items: stretch;
}

.admin-desktop-content {
  flex: 1;
  min-width: 0;
  min-height: 0;
}
