@import '../../../../../../assets/colors.scss';

.edit-container {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  padding: 1rem;
}
