<div class="three-panel-layout">
  <section class="panel panel-1">
    <div class="panel-body">
      <app-client-list
        [showBreadcrumb]="false"
        [panelView]="true">
      </app-client-list>
    </div>
  </section>
  <section class="panel panel-2">
    <div class="panel-body">
      <router-outlet></router-outlet>
    </div>
  </section>
  <section class="panel panel-3">
    <div class="panel-body">
      <app-invoice-history
        *ngIf="showInvoiceHistoryPanel && activeUserId && activeEnrollmentId"
        [userId]="activeUserId"
        [enrollmentId]="activeEnrollmentId"
        [panelView]="true">
      </app-invoice-history>
      <app-invoice-details
        *ngIf="showInvoiceDetailsPanel && activeUserId && activeEnrollmentId && activeInvoiceId"
        [userId]="activeUserId"
        [enrollmentId]="activeEnrollmentId"
        [invoiceId]="activeInvoiceId"
        [panelView]="true">
      </app-invoice-details>
    </div>
  </section>
</div>
