<mat-form-field appearance="outline">
  <mat-label>{{(label ?? '') | translate}}</mat-label>
  <mat-select [formControl]="control">
    <ng-container *ngIf="hasNoSelectOption">
      <mat-option [value]="null">{{ '———' }}</mat-option>
    </ng-container>
    <div *ngIf="i18nPrefix">
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{ i18nPrefix + '.' + option.viewValue | translate }}
      </mat-option>
    </div>
    <div *ngIf="!i18nPrefix && formatOption === FormatOptions.TRANSLATE">
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{ option.viewValue | translate }}
      </mat-option>
    </div>
    <div *ngIf="!i18nPrefix && formatOption === FormatOptions.TIME">
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{ option.viewValue | timeFormat }}
      </mat-option>
    </div>
    <div *ngIf="!i18nPrefix && !formatOption">
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{ option.viewValue }}
      </mat-option>
    </div>
  </mat-select>
  <mat-error *ngIf="control?.errors">
    {{getErrorMessage()}}
  </mat-error>
</mat-form-field>