@import '../../../../../../assets/colors.scss';

.general-info {
  border-bottom: 1px solid $light-blue;
  text-align: center;
}

.prices {
  justify-content: space-evenly;
}

.paid-status-section {
  border-bottom: 1px solid $light-pink;
  justify-content: space-between;
}

.pending-status-section {
  border-bottom: 1px solid $light-pink;
}

.almost-due-status-section {
  border-bottom: 1px solid $light-pink;
  justify-content: space-between;
}

.overdue-status-section {
  border-bottom: 1px solid $light-pink;
  justify-content: space-between;
}

.waitlist-section {
  border-bottom: 1px solid $light-pink;
}

h2, h3, h4, h5 {
  margin: 5px 0;
}

li {
  color: $light-pink;
  margin-left: 30px;
}

ul {
  padding-left: 0;
  list-style-type: circle;
}

.add-icon {
  left: -9px;
  top: -9px;
}

.add-class-button { 
  background-color: $light-pink !important;
  width: fit-content !important;
  border-radius: 5px;
  margin-left: 15px;
  height: 24px;
  width: 24px !important;
  color: $primary-pink;
  font-weight: 900 !important; 
  border: 1px solid $primary-pink;
}

.clients-section {
  align-items: center;
  justify-content: space-between;
}

.class-details-content {
  width: 80vw;
  margin: auto auto;
}

.buttons {
  margin-top: 15px;
  justify-content: space-between;
}

.buttons > * {
  width: 45%;
}

.enrollment-modal p, .enrollment-modal h5 {
  text-align: center;
}

.enrollment-modal form {
  width: inherit;
  border: none;
  min-height: fit-content;
  padding: 0;
}

.enrollment-modal .billing-frequency {
  position: relative;
  top: 10px;
}

.enrollment-modal .no-clients-message {
  color: $light-pink;
  text-align: center;
  margin: 10px 0;
}

.terminate-confirmation-modal p {
  text-align: center;
  margin: 10px 0;
}

.terminate-confirmation-modal .warning-text {
  color: $primary-pink;
  font-weight: bold;
  margin-top: 15px;
}

.terminate-confirmation-modal form {
  width: inherit;
  border: none;
  min-height: fit-content;
  padding: 0;
  margin-top: 15px;
}

.details-row {
  justify-content: space-between;
}

.payment-history-link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.icon {
  min-width: 1.5rem;
  min-height: 1.5rem;
  margin-left: 10px;
  margin-top: 3px;
}
