<div *ngIf="classDetails">
  <app-breadcrumb-nav-bar 
    [title]="'CLASSES.CLASS_DETAILS'" 
    [buttonType]="canEditClass ? ButtonType.EDIT : ButtonType.NONE"
    (onButtonClick)="editClass()">
  </app-breadcrumb-nav-bar>
  <div class="flex-column general-info">
    <h3 class="mid-green">{{ 'CLASS_TYPES.' + classDetails.classType | translate }}</h3>
    <h3 class="light-blue">{{ classDetails.classLocation }}</h3>
    <h3 class="mid-pink">{{ classDetails.days | weekdays:'/' }} - {{ classDetails.startTime | timeFormat }}</h3>
    <h5 class="light-blue">{{ classDetails.prices[0].amount }} {{ classDetails.prices[0].currency }}</h5>
    <!-- <div class="flex-row prices">
      <h3 *ngFor="let price of classDetails.prices">{{ price.amount }} {{ price.currency }}</h3>
    </div> -->
     <h5 class="light-green" *ngFor="let enrollmentCount of classDetails.enrollmentCounts | keyvalue">
      {{ enrollmentCount.key | weekdays }}: {{ enrollmentCount.value }}/{{ classDetails.maxCapacity }} {{ 'CLASSES.ENROLLED' | translate }}
     </h5>
  </div>

  <!-- Client information -->
  <div class="flex-column class-details-content">
    <div class="flex-row clients-section">
      <h2 class="light-blue">{{ 'CLIENTS.TITLE' | translate }}</h2>
      <button 
        *ngIf="!isTerminated"
        mat-icon-button 
        (click)="addClientToClass()" class="add-class-button">
        <mat-icon class="add-icon" matPrefix>{{ 'add' }}</mat-icon>
      </button>
    </div>

    <ng-container *ngFor="let status of visibleStatuses">
      <ng-container *ngIf="(clientsByPaymentStatus.get(status)?.length ?? 0) > 0">
        <div [ngClass]="getStatusSectionClass(status)">
          <h3 [ngClass]="paymentStatusConfig[status]?.headingClass">
            {{ paymentStatusConfig[status]?.titleKey || '' | translate }}
          </h3>
          <div *ngIf="paymentStatusConfig[status]?.iconClass" [ngClass]="paymentStatusConfig[status]?.iconClass"></div>
        </div>
    
        <ul>
          <li *ngFor="let client of clientsByPaymentStatus.get(status)">
            <div class="flex-row details-row">
              <a [routerLink]="['../../../clients', client._id, 'details']">
                <p class="white">
                  {{ client.firstName }} {{ client.lastName }}
                </p>
              </a>
              <a
                *ngIf="client.currentPayment?.enrollmentId"
                [routerLink]="['../../../clients', client._id, 'payments', client.currentPayment.enrollmentId]"
                class="payment-history-link">
                <mat-icon class="icon">receipt_long</mat-icon>
              </a>
            </div>
          </li>
        </ul>
      </ng-container>
    </ng-container>

    <div *ngIf="classDetails.waitlistClients">
      <div class="waitlist-section">
        <h3 class="mid-green">{{ 'CLASSES.WAIT_LIST' | translate }}</h3>
      </div>
      <ul>
        <li *ngFor="let client of classDetails.waitlistClients">
          <a [routerLink]="['../../../clients', client._id, 'details']">
            <p class="white">
              {{ client.firstName }} {{ client.lastName }}
            </p>
          </a>
        </li>
      </ul>
    </div>

    <div class="flex-row buttons">
      <app-button 
        *ngIf="!isTerminated"
        [label]="'CLASSES.CANCEL'"
        [loading]="loading"
        [loadingMessage]="'CLASSES.CANCELLING'"
        (onClick)="cancelClass()">
      </app-button>
      <app-button 
        *ngIf="canEditClass && !isTerminated"
        [label]="'CLASSES.TERMINATE'"
        [loading]="loading"
        [loadingMessage]="'CLASSES.TERMINATING'"
        (onClick)=terminateClass()>
      </app-button>
    </div>
  </div>
</div>

<app-modal *ngIf="showEnrollmentModal"
  [parent]="this"
  [title]="'CLIENTS.ENROLL' | translate"
  [buttonList]="enrollmentButtons"
  (modalClick)="processEnrollmentModalClick($event)"
  class="enrollment-modal">
  <div content> 
    <p>{{ 'CLIENTS.ENROLL_INSTRUCTIONS' | translate }}</p>
    <h5 *ngIf="classDetails">{{ 'CLASS_TYPES.' + classDetails.classType | translate }} - {{ classDetails.classLocation }} - {{ classDetails.startTime | timeFormat }}</h5>

    <p *ngIf="clientOptions.length === 0" class="no-clients-message">All clients are already enrolled in this class.</p>

    <form [formGroup]="enrollmentForm">
      <app-dropdown 
        *ngIf="clientOptions.length"
        label="CLIENTS.TITLE" 
        [options]="clientOptions" 
        controlName="client">
      </app-dropdown>
      <app-datepicker
        label="CONTROLS.START_DATE"
        controlName="start_date">
      </app-datepicker>

      <mat-expansion-panel [disabled]="!enrollmentForm.get('client')?.value" (opened)="onAdvancedOptionsOpened()">
        <mat-expansion-panel-header>
          {{ 'ENROLLMENTS.ADVANCED_OPTIONS' | translate }}
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <app-multi-select-chips
            *ngIf="advancedOptionsClassInfo && advancedOptionsClassInfo.days.length > 1"
            label="CONTROLS.DAYS_OVERRIDE"
            [options]="weekdays"
            [disabledChipsIndices]="disabledDaysChips"
            i18nPrefix="WEEKDAYS_SHORT"
            controlName="days_override">
          </app-multi-select-chips>
          <app-dropdown
            label="CONTROLS.BILLING_FREQUENCY_OVERRIDE"
            [options]="billingFrequencyOptions"
            controlName="billing_frequency_override"
            [i18nPrefix]="'BILLING_FREQUENCY'"
            [hasNoSelectOption]="true"
            class="billing-frequency">
          </app-dropdown>
        </ng-template>
      </mat-expansion-panel>
    </form>
  </div>
</app-modal>

<app-modal *ngIf="showTerminateConfirmationModal"
  [parent]="this"
  [title]="'CLASSES.CONFIRM_TERMINATE_TITLE' | translate"
  [buttonList]="[{text: 'CONTROLS.CANCEL'}, {text: 'CLASSES.CONFIRM_TERMINATE'}]"
  (modalClick)="processTerminateConfirmationModalClick($event)"
  class="terminate-confirmation-modal">
  <div content> 
    <p>{{ 'CLASSES.CONFIRM_TERMINATE_MESSAGE' | translate }}</p>
    <p class="warning-text">{{ 'CLASSES.CONFIRM_TERMINATE_WARNING' | translate }}</p>
    <form [formGroup]="terminateForm">
      <app-datepicker
        label="CONTROLS.END_DATE"
        controlName="end_date"
        [minDate]="minTerminationDate">
      </app-datepicker>
    </form>
  </div>
</app-modal>

<app-modal *ngIf="showCancelConfirmationModal"
  [parent]="this"
  [title]="'CLASSES.CONFIRM_CANCEL_TITLE' | translate"
  [buttonList]="[{text: 'CONTROLS.CANCEL'}, {text: 'CLASSES.CONFIRM_CANCEL'}]"
  (modalClick)="processCancelConfirmationModalClick($event)"
  class="terminate-confirmation-modal">
  <div content> 
    <p>{{ 'CLASSES.CONFIRM_CANCEL_MESSAGE' | translate }}</p>
    <p class="warning-text">{{ 'CLASSES.CONFIRM_CANCEL_WARNING' | translate }}</p>
    <form [formGroup]="cancelForm">
      <app-datepicker
        label="CONTROLS.END_DATE"
        controlName="cancellation_date"
        [allowedWeekdays]="classDetails?.days"
        [disabledDates]="cancelledDates">
      </app-datepicker>
    </form>
  </div>
</app-modal>

 