<ng-template #itemTemplate let-classItem>
  <div 
    class="class-bubble"
    [style.background-color]="classItem?.backgroundColor || '#757575'"
    [style.color]="classItem?.textColor || '#FFFFFF'"
    (click)="goToClassDetails(classItem?._id)"
    role="button"
    tabindex="0"
    (keydown.enter)="goToClassDetails(classItem?._id)"
    (keydown.space)="goToClassDetails(classItem?._id); $event.preventDefault()">
    {{ 'CLASS_TYPES.' + (classItem?.classType || '') | translate | capitalize }}
  </div>
</ng-template>

<div class="calendar-wrapper" [class.loading]="isLoading">
  <app-mobile-calendar
    [hours]="HOURS_IN_WORKDAY"
    [schedule]="classSchedule"
    [legendItems]="legendItems"
    [showLegend]="location === '' && locations.length > 0"
    [itemTemplate]="itemTemplate"
    [initialDate]="currentDate"
    (dateChange)="onDateChange($event)">
  </app-mobile-calendar>
  
  <div class="loading-overlay" *ngIf="isLoading">
    <div class="spinner"></div>
  </div>
</div>
